<!DOCTYPE html>
<html lang="en">
{%load static%}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'GamblingMaths/css/frame.css' %}">
    <link rel="stylesheet" href="{% static 'GamblingMaths/css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'GamblingMaths/css/main.css' %}">
    <title>Quiz-Portal</title>
</head>

<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
crossorigin="anonymous"></script>

<body>
    <div class="instructions-page">
        <div class="top-instructions-header">
            <div class="instructions-header">Instructions Page</div>
        </div>
            <div class="instructions-body">
                <h6>Description for Gambling Mathematics:</h6>
                Show off your Gambling skills in an all-out war with chance, the only weapon being your Mathematical Aptitude. 
                Round 1 will be conducted on APOGEE App, Round 2 in IPC.
                37 teams will qualify for Round 2.
                <br><br>
                <h6>Instructions for Gambling Mathematics Round 1:</h6>
                <ul>
                    <li>Each Game has 10 questions. Questions are Objective in Nature.</li> 
                    <li>Only One attempt for a team.</li>
                    <li>Do not refresh the page,or press the back button, or close the tabs while playing.</li>
                    <li>You begin with 100 points. Before each question you must enter a percentage (10-90%) to gamble.</li>
                    <li>A percentage in between +-5% of your entered value would be automatically selected.  This would act as a multiplier for the next question. You will be given 10 minutes for the entire game, we recommend spending 1 minute per question.</li>
                    <li>Example: If you have 100 points and you choose 50%, then a percentage between 45 and 55 will be randomly selected. Assume 47 is selected, then after you answer the next question you would either have a score of 147, if correct or 53 points, if incorrect.</li>
                    <li>Each participant will participate in teams of 1 or 2. One of the participants will login to the portal using their Email ID (Registered with PCr). Upon successful registration, the user will enter the registered Email ID of the teammate. The team will play on one smartphone only.</li>
                    <li>Top 37 teams will be selected for the next round. In case of ties, Team which finishes the quiz earlier, will be promoted to the next round.</li>
                    <li>Contact Dipam Goswami at 8981750639 for any queries.</li>
                </ul>
                <br>
                <h6>Rules for Gambling Mathematics Round 2:</h6>
                This round offers more flexibility to the players. 37 teams will be selected for this round. They will play this round on a desktop application. Each question will require some score of the user to be betted on the correctness of their answer. Points will be given accordingly

            </div>
            <a style="text-decoration: none" href="/quizbuilder/" class="start-button" onclick="startTimer()">Start Quiz</a>
    </div>
</body>

<script type="text/javascript" src="{% static 'GamblingMaths/js/instruction.js' %}"></script>

</html>